.links3 {
  text-align: center;
  border: 2px;
  margin: 20px;
  padding: 10px;
  background-color: #008000;
}

.info {
  font-size: 110%;
  color: #008000;
  text-align: center;
  position: relative;
  top: 100px;
}
body {
  background-image: url("back9.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  height: 900px;
  padding: 0;
  margin: 0px;
}
.tri4 {
  position: relative;
  top: 150px;
  left: 600px;
}
