.input{
  text-align: center;
  border: 2px;
  margin: 20px;
  padding: 20px;
  position: relative;

}
#loader {
  background-size: cover;

}
#title {
  color: #B2BEB5;
  text-align: center;
  animation-name: swip;
  animation-duration: 5s;
  position: relative;
}
@keyframes swip {
  from{bottom: -100px;opacity: 0;}
    to{bottom: 0px;opacity: 1;}
}
.links {
  text-align: center;
  border: 2px;
  margin: 20px;
  padding: 10px;
  background-color: #008000;
}
.mainTitle{
  font-family: "luma"
}
.text {
  color: #B2BEB5;
}

body {
  background-image: url("back5.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}
.backimg {
  text-align: center;
  background-color: #5DADEC;
  background:rgba(0,0,0,0.7);
  width: 800px;0.7);
  width: 800px;
  height: 1000px;
  position: relative;
  left: 200px;
}
